<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/static/styles.css" />
    <title>Mulai</title>
  </head>

  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/deforestasi">Informasi</a>
      <a href="/mulai-menanam">Ayo Menanam!</a>
      <a href="/quiz">Quiz</a>
  </nav>

    <div class="container">
      <h1>Urgensi</h1>
      <p>
        Upaya pemulihan hutan terus diperluas, dengan setidaknya 10,6 juta
        hektar lahan di seluruh dunia menjadi lokasi proyek pemulihan hutan.
        Namun, data global masih terlalu terfragmentasi untuk menentukan apakah
        dunia sedang memulihkan hutan pada skala yang diperlukan.
      </p>

      <div class="plant-section">
        <div class="plant-content">
          <h1>Ayo Mulai Menanam!</h1>
          <h2>Catat progresmu di sini!</h2>
          <p>Lihat berapa banyak pohon yang telah kamu tanam di kebunmu sendiri.</p>
          <p>Pohon yang kamu tanam:</p>
          <p>{{ trees|length }}</p>

          <div class="plant-controls">
            <form action="/tanam" method="post">
              <button class="btn">Tanam Pohon</button>
            </form>

            <form action="/reset" method="get">
              <button class="btn">Reset</button>
            </form>
          </div>

          <p>Setiap pohon yang ditanam membantu mengurangi deforestasi!</p>
        </div>

        <div class="forest">
          {% for tree in trees %}
          <img src="/static/{{ tree }}" class="tree" />
          {% endfor %}
        </div>
      </div>
    </div>
  </body>
</html>